<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/s"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/saavtk/src/edu/jhuapl/saavtk/util/FileDownloader.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.jhuapl.saavtk.util.FileDownloader"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="http://sbmt.jhuapl.edu/internal/multi-mission/test/data/redmine-2080.txt redmine-2080.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="saavtk"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dedu.jhuapl.sbmt.mission=&quot;b1bc7ed&quot;"/>
</launchConfiguration>
